@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");


/* Style the accordion section */
.accordion_section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  /* background-color: #F8B0B1; */
  color: #707070;
  cursor: pointer;
  /* padding: 5px; */
  width: 100%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.accordion:hover.active {
  background-color: #e0fdff;
}

/* Style the accordion content title */
.accordion_title {
  /* text-shadow: 1px 1px 1px #f7999b; */
  /* font-family: Comfortaa; */
  font-weight: 1000;
  font-size: 24px;
  margin: 20px auto;
  width: 100%;
}

/* Style the accordion chevron icon */
.accordion_icon {
  transform: rotate(180deg);
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
  /* padding: 10px; */
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion panel. Note: hidden by default */
.accordion_panel {
  overflow: hidden;
  background-color: white;
  transition: max-height 0.6s ease-in-out;
  /* padding: 2px; */
}

/* Style the accordion text */
.accordion_text {
  /* padding: 5px; */
  text-align: center;
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 14px;
}


